
#lets{
    color: black;
}

body {

    background-color: yellow;
    color: blue;


}

div {
    border: 1px solid blue;
}

span {
    border: 2px solid black
}

* {
    box-sizing: content-box;
}


p {
    color: blue;
    background-color: beige;
}

.test {
    background: red;
}